@page
@model Frontend.Areas.Dashboard.Pages.DevicesModel

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">All connected devices</h4>
                        <p class="card-category">Click on a device to see more information.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Name</th>
                                <th>Category</th>
                                <th>Mac Address</th>
                                <th>Status</th>
                                <th class="text-center">Enabled</th>
                                </thead>
                                <tbody id="deviceList">
                                @foreach (var device in Model.ConnectedDevices)
                                {
                                    <tr>
                                        <td>@device.Name</td>
                                        <td>@device.Category</td>
                                        <td>@device.MacAddress</td>
                                        <td class="text-primary">@(DateTime.Now.AddMinutes(-20) < device.LastOnline ? "Online": "Offline")</td>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" @(device.Enabled ? "checked" : "")>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/node_modules/sortablejs/Sortable.min.js"></script>
    <script>
        Sortable.create(deviceList);
    </script>
}